<?xml version="1.0"?>
<launch>

    <!--
    Teleoperación del controlador de la base de RAFI
    Este archivo:
    - Lanza el controlador de la base
    - Lanza los nodos de teleoperación: nodo driver del mando y nodo de teleoperación de base.

    -->

    <!-- Controlador de velocidad de la base-->
    <include file="$(find roboclaw_node)/launch/roboclaw.launch"/>

    <!-- Teleoperacion del controlador de la base -->
    <include file="$(find joy_base_control)/launch/teleop_twist.launch"/>

</launch>

