<?xml version="1.0"?>
<launch>

    <!--
    Teleoperación del esquema A de RAFI: controlador de impedancia cartesiana del manipulador + controlador de la base.
    Este archivo:
    - Lanza el cartesian impedance example controller de Franka
    - Lanza el controlador de la base
    - Lanza los nodos de teleoperación: nodo driver del mando , nodo de teleoperación de base y nodo de teleoperación del manipulador

    Antes de ejecutar roslaunch se debe:
    - Desbloquear Franka y activar FCI

    -->

    <!-- Parámetros -->
    <arg name="robot" default="panda" doc="choose your robot. Possible values: [panda, fr3]"/>
    <arg name="arm_id" default="$(arg robot)" />
    <arg name="robot_ip" value="172.16.0.2"/>
    <arg name="load_gripper" default="false" />

    <!-- Controlador de impedancia de franka-->
    <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true"/>
    <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" subst_value="true" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="cartesian_impedance_example_controller"/>
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" />

    <!-- Controlador de velocidad de la base-->
    <include file="$(find roboclaw_node)/launch/roboclaw.launch"/>

    <!-- Teleoperacion del manipulador-->
    <include file="$(find joy_franka_control)/launch/teleop_franka.launch"/>

    <!-- Teleoperacion de la base -->
    <include file="$(find joy_base_control)/launch/teleop_twist_without_joy.launch"/>

</launch>

