<?xml version="1.0"?>
<launch>

    <!--
    Teleoperación del controlador de velocidad cartesiana del manipulador.
    Este archivo:
    - Lanza el cartesian velocity example controller de Franka
    - Lanza los nodos de teleoperación: nodo driver del mando y nodo de teleoperación

    Antes de ejecutar roslaunch se debe:
    - Desbloquear Franka y activar FCI
    - Mover el manipulador a la pose inicial.

    -->

    <!-- Parámetros -->
    <arg name="robot" default="panda" doc="choose your robot. Possible values: [panda, fr3]"/>
    <arg name="arm_id" default="$(arg robot)" />
    <arg name="robot_ip" value="172.16.0.2"/>
    <arg name="load_gripper" default="false" />

    <!-- Controlador de velocidad cartesiana de franka-->
    <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true"/>
    <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" subst_value="true" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="cartesian_velocity_example_controller"/>

    <!-- Teleoperacion del controlador de velocidad cartesiana-->
    <include file="$(find joy_franka_vel_control)/launch/teleop_franka_without_joy.launch"/>

</launch>

