<?xml version="1.0"?>
<launch>

    <!--
    Este launch se encarga de lanzar:
    - base en control de velocidad
    - franka en control de impedancia
    - controlador del mando para la base
    - controlador del mando para el franka
    -->

    <!-- Parámetros -->
    <arg name="robot" default="panda" doc="choose your robot. Possible values: [panda, fr3]"/>
    <arg name="arm_id" default="$(arg robot)" />
    <arg name="robot_ip" value="172.16.0.2"/>
    <arg name="load_gripper" default="false" />

    <!-- Control de velocidad de franka-->
    <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true"/>
    <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" subst_value="true" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="cartesian_velocity_example_controller"/>

    <!-- Interpretador del mando para Franka-->
    <include file="$(find joy_franka_vel_control)/launch/teleop_franka_without_joy.launch"/>

    <!-- Teleoperacion de la base-->
    <include file="$(find joy_base_control)/launch/teleop_twist_without_joy.launch"/>

    <!-- Controlador de la base-->
    <include file="$(find roboclaw_node)/launch/roboclaw.launch"/>

</launch>
